nav {
  width: 55%;
  float: right;
  padding-bottom: 15px;
  position:absolute;
  top:0;
  right:0;
}

.button_slide {
  border: 2px solid #fbfaf5;
  border-radius: 35px;
  padding: 16px 36px;
  display: inline-block;
  font-family: Georgia;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_left_record {
  color: #fbfaf5;
  background-color: #3F3931;
  width: 35%;
  margin-right: 35px;
}

.slide_left_record:hover {
  box-shadow: inset 400px 50px 0 0 #4FBF26;
  color: #fbfaf5;
}

.slide_left_stop {
  color: #fbfaf5;
  background-color: #3F3931;
  width: 35%;
  margin-left: 35px;
}

.slide_left_stop:hover {
  box-shadow: inset 400px 50px 0 0 red;
  color: #fbfaf5;
}

#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}

.app-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url(./images/wood-background.jpg);
  background-size: cover;
}

.piano-container {
  display: inline-flex;
  border-top: 2px solid #3e3830;
}

.controls {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.piano-natural-key {
  width: 60px;
  height: 175px;
  background: #fbfaf5;
  margin: 0 .5px;
  color: #3F3931;
  padding: 12px;
  border-radius: 0 0 15px 15px; 
  border : 2px solid #3e3830;
  border-top: none;
  transition: all .1s ease-out;
}

.piano-text {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1rem;
}

.piano-accidental-key-wrapper {
  position: relative;
  width: 0;
}

.piano-accidental-key {
  position: absolute;
  cursor: pointer;
  background: #3F3931;
  transform: translateX(-50%);
  width: 36px;
  height: 120px;
  border-radius: 0 0 15px 15px;
  border : 2px solid #6d6964;
  border-top: none;
  padding: 5px;
  outline: none;
  color: #dbdbdd;
  transition: all .1s ease-out;
}

.piano-accidental-key-playing {
  border-bottom: 2px solid #3F3931;
  background-color: #6d6964;
  color: #fbfaf5;
  border-color: #3F3931;
}

.piano-natural-key-playing {
  border-bottom: 5px solid #3F3931;
  color: #3F3931;
  background-image: url(./images/rainbow.jpg);
  border-color: #3F3931;
  background-size: cover;
}