.app-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #222222;
}

.piano-container {
  display: inline-flex;
  border-top: 5px solid #be0aff;
  border-radius: 5px 5px 0 0;
}

.piano-natural-key {
  width: 60px;
  height: 175px;
  background: #222222;
  margin: 0 .5px;
  color: #f5f5f5;
  padding: 12px;
  border-radius: 0 0 15px 15px; 
  border : 2px solid #f72585;
  border-top: none;
}

.piano-text {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1rem;
}

.piano-natural-key-playing {
  border-bottom: 5px solid #ED5855;
  color: blue;
}

.piano-accidental-key-wrapper {
  position: relative;
  width: 0;
}

.piano-accidental-key {
  position: absolute;
  cursor: pointer;
  background: #222222;
  transform: translateX(-50%);
  width: 36px;
  height: 120px;
  border-radius: 0 0 15px 15px;
  border : 2px solid #a1ff0a;
  border-top: none;
  padding: 5px;
  outline: none;
  color: #dbdbdd;
}

.piano-accidental-key-playing {
  border-bottom: 12px solid #ED5855;
  color: blue;
}